<% provide(:title, '編集画面') %>
<%  provide(:url, "/infos/#{@info.id}/edit") %>
<% provide(:value, @line_user_id) %>

<%if !@access_warn.nil? %>
<div class="noninfo col-sm-6 offset-sm-3 mt-4 text-center">
  <b style="color:#ff0000;">＊注意＊</b><br />LINEからアクセスしてください。 => ID:@624aybaw
</div>
<%else%>
  <%= render "infos/form" %>
</div>
<%end%>
