<% provide(:title, '情報登録') %>
<%  provide(:url, "/create?line_user_id=#{params[:line_user_id]}") %>
<% provide(:value, params[:line_user_id]) %>

<% if @line_user_id.nil? %>
  <%= render "infos/form" %>
<% elsif @line_user_id.empty? %>
  <div class="noninfo col-sm-6 offset-sm-3 mt-4 text-center">
    <b style="color:#ff0000;">＊注意＊</b><br />LINEからアクセスしてください。 => ID:@624aybaw
  </div>
<%else%>
  <%= render "infos/form" %>
<%end%>
