<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <%= render "layouts/flash" %>
    <%= yield %>
    <script type="text/javascript" src="http://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <script type="text/javascript">
      $('.clockpicker').clockpicker();
    </script>
  </body>
</html>
