<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <%= render "layouts/flash" %>
    <%= yield %>
    <script type="text/javascript" src="https://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <script type="text/javascript">
    $(function() {
    $('.clockpicker').clockpicker({
      'default': 'now',
      vibrate: false,
      placement: "top",
      align: "left",
      autoclose: false,
      twelvehour: false
    });
    });

    </script>
  </body>
</html>
